button {
    background-color: #1e29b9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Sans-Serif;
}

button:hover {
    background-color: #5056b4;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Sans-Serif;
}
  
button:disabled {
    background-color: #464868;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Sans-Serif;
}

.buttondiv {
    display: flex;
    justify-content: center;
}

input[type=text] {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=file] {
    background-color: #1e29b9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Sans-Serif;
}

input[type=submit] {
    background-color: #1e29b9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Sans-Serif;
}

input[type=submit]:hover {
    background-color: #5056b4;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Sans-Serif;
}

h1, h2, h3, p, a, table, label {
    font-family: Sans-Serif;
}

.big_box {
    display: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    justify-content: center;
}

.header_div {
    display: block;
    background-color: #d0d0d0;
    padding: 3px;
    justify-content: center;
    text-align: center;
}