<!DOCTYPE html>
<html lang="en">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <head>
        <meta charset="utf-8" />
        <title>Election Simulator</title>
    </head>
    <body>
        <p><a href="/">Go back to homepage</a></p>
        <div>
            <div class="buttondiv">
                <button id="1-sim" onclick="reveal(['2-poll','2-ideo'], this)">Simulate Election</button>
                <button id="1-eval" onclick="reveal(['2-no'], this)">Evaluate Election</button>
            </div>
            <div class="buttondiv">
                <button id="2-poll" onclick="reveal(['3-fptp','3-pref','3-appr','3-pair'], this)">Polling Data</button>
                <button id="2-ideo" onclick="reveal(['3-no'], this)">Ideological Model</button>
                <button id="2-no">Not Implemented Yet</button>
            </div>
            <div class="buttondiv">
                <button id="3-fptp" onclick="reveal(['4-file','4-text'], this)">FPTP Polls</button>
                <button id="3-pref" onclick="reveal(['4-no'], this)">Preference Lists</button>
                <button id="3-appr" onclick="reveal(['4-no'], this)">Approval Polls</button>
                <button id="3-pair" onclick="reveal(['4-no'], this)">Ranked Pairs</button>
                <button id="3-no">Not Implemented Yet</button>
            </div>
            <div class="buttondiv">
                <button id="4-file" onclick="reveal(['5-sub'], this)">Input File</button>
                <button id="4-text" onclick="reveal(['5-sub'], this)">Input Text</button>
                <button id="4-no">Not Implemented Yet</button>
            </div>
            <div class="buttondiv">
                <button id="5-sub" onclick="submit(this)">Input Data</button>
                <button id="5-no">Not Implemented Yet</button>
            </div>
        </div>
        <div>
            <div class='formbox' id='file_form'>
                <label for="fileupload">Upload File</label>
                <input id="fileupload" type = "file" name = "file" accept=".txt"></input>
                <button type="button" id = '0-file_form' onclick="upload_file()">Process File</button>
            </div>
            <div class='formbox' id='text_form'>
                <div id='cand_setup'>
                    <p>Number of Candidates: <input type="number" id='cand_num'/></p>
                    <button type="button" id="0-cand_num_form" onclick="populate_cand_table()">Next</button>
                </div>
                <div id='cand_table'>
                    <p>Enter Names of Candidates: </p>
                    <p id='pref_q'>Length of Each Preference List: <input type="number" id='pref_len'/></p>
                    <button type="button" id="0-cand_form" onclick="populate_poll_table()">Next</button>
                </div>
                <div id='poll_table'>
                    <p>Enter Polling Data: </p>
                    <p id='ss_q'>Sample Size of Poll: <input type="number" id='ss_num'/></p>
                    <button type="button" id="0-poll_form" onclick="process_input()">Process Input Data</button>
                </div>
            </div>
        </div>
        <div id='process_box' class='process_box'>
            <h3 id='pb_title'>Election Summary:</h3>
            <p id='pb_cand_num'>Number of Candidates: </p>
            <p id='pb_cand_list'>Candidate List: </p>
            <p id='pb_poll_table'>Polling Table: </p>
            <p id='pb_ss'>Sample Size: </p>
            <div class='buttondiv'>
                <button type="button" id="0-run" onclick="run()">Run</button>
                <button type="button" id="0-download" onclick="download()">Download</button>
            </div>
        </div>
    </body>
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>
    <script type="text/javascript" src={{ url_for('static', filename='election_sim.js') }}></script>
</html>