<!DOCTYPE html>
<html lang="en">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <head>
        <meta charset="utf-8" />
        <title>riggsmarkham.com</title>
    </head>
    <body>
        <div>
            <h1>riggs's homepage</h1>
        </div>
        <div>
            <h3><a href="election_sim">election simulator</a></h3>
            <h3><a href="papers">papers</a></h3>
        </div>
        <div>
            <h4>
                <a href="https://github.com/riggsmarkham">github</a><br>
                <a href="https://twitter.com/RiggsMarkham">twitter</a><br>
                <a href="https://www.linkedin.com/in/riggs-markham-7116ba1a0">linkedin</a><br>
                <a href="mailto: riggsmarkham@gmail.com">email me</a><br>
                <a href="{{ url_for('static', filename='resume.pdf') }}">resume</a><br>
            </h4>
        </div>
    </body>
</html>