<!DOCTYPE html>
<html lang="en">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <head>
        <meta charset="utf-8" />
        <title>Election Simulator</title>
    </head>
    <body>
        <h3><a href="/election_sim">Go back to election simulator</a></h3>
        <p>Your file {{filename}} was successfully uploaded and run</p>
        <!-- <form action='/result', method='post'>
            <input name="filename" value={{filename}}/>
            <button type="submit">Process</button>
        </form> -->
    </body>
</html>