<!DOCTYPE html>
<html lang="en">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <head>
        <meta charset="utf-8" />
        <title>temp_app</title>
    </head>
    <body>
        <div class="header_div">
            <p><a href="/">Go back to homepage</a></p>
            <p><a href="/temp_app">Restart this page</a></p>
        </div>
        <div>
            <h1>Temperature Application</h1>
            <embed src={{ url_for('static', filename='temp.txt') }}></embed>
            <div class="buttondiv">
                <button id="on-off" onclick="toggle(this)">Off</button>
                <button id="heat-cool" onclick="toggle(this)" disabled>Heat</button>
            </div>
        </div>
    </body>
    <script>
        function toggle(element){
            var id = element.id;
            var current = element.innerHTML;
            if(id == "on-off"){
                var otherEl = document.getElementById("heat-cool");
                if(current=="On"){
                    element.innerHTML = "Off";
                    otherEl.disabled = true;
                } else {
                    element.innerHTML = "On";
                    otherEl.disabled = false;
                }
            } else {
                if(current=="Heat"){
                    element.innerHTML = "Cool";
                } else {
                    element.innerHTML = "Heat";
                }
            }
        }
    </script>
</html>